{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="height-controller">
<div class="form-container">
    <strong class="add-review">Add Review!</strong>
    <form method="POST" class="create-form form mb-1"
        action="{% if review %}{% url 'reviews:update-review' review.slug %}{% else %}{% url 'reviews:create' %}{% endif %}"
        enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div class="text-right">
            <a class="back-button" href="{% url 'reviews:review-display' %}">Cancel</a>
            <button type="submit" class="btn btn-primary">{% if review %}Save Changes{% else %}Add Review{% endif %}</button>
        </div>
    </form>
</div>
</div>
{% endblock %}