{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- rerun through validator when images arfe  sorted -->
<div class="height-controller">
    <div class="form-container">
        <div>
            {% if "default" in ReviewPost.featured_image.url %}
            <img class="card-img" src="{{ reviews.featured_image.url }}" alt="placeholder image">
            {% else %}
            <img class="card-img" src="{{ reviews.featured_image.url }}" alt="{{ reviews.title }}">
            {% endif %}
        </div>
        <div class="review-content">
            <h5 class="review-title">{{ review.title }}</h5>
            <p>{{ review.content|truncatechars:100 | safe}} <br> by {{ review.author }}</p>
        </div>
        {% if user == review.author or user.is_superuser %}
        <div class="admin-buttons">
            <a class="update-button" href="{% url 'reviews:update-review' review.slug %}">Update</a>
            <a class="delete-button" href="{% url 'reviews:delete-review' review.slug %}">Delete</a>
        </div>
        {% endif %}
        <div>
            <a class="back-button" href="{% url 'reviews:review-display' %}">Back!</a>
        </div>
    </div>
</div>
{% endblock %}