{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="height-controller">
    <h1 class="review-page-title">Glass Fish Reviews</h1>
    <!-- this is a loop through all reviews -->
    <div>
        {% if user.is_authenticated %}
        <div>
            <button class="btn btn-secondary review-page-btn"><a href="{% url 'reviews:create' %}">Create a
                    Review!</a></button>
        </div>
        {% else %}
        <div>
            <button class="btn btn-secondary"><a href="{% url 'accounts:signup' %}">Join The Site and Post a
                    Review!</a></button>
        </div>
        {% endif %}
    </div>
    <div class="card" style="width: 18rem;">
        {% for reviews in reviews_all %}
        <a href="{% url 'reviews:reviews-detail' reviews.slug %}">
            <div>
                <div class="">
                    {% if "default" in ReviewPost.featured_image.url %}
                    <img class="card-img" src="{{ reviews.featured_image.url }}" alt="placeholder image">
                    {% else %}
                    <img class="card-img" src=" {{ reviews.featured_image.url }}" alt="{{ reviews.title }}">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ reviews.title }}</h5>
                        <!-- the "safe" tag prevents the code tags from displaying  -->
                        <p class="card-text">
                            {{ reviews.content|truncatechars:100 | safe }}<br> By- {{ reviews.author }}
                        </p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <button class="btn btn-secondary review-page-btn"><a href="{% url 'main:main' %}">Back!</a></button>
</div>
<!-- closing the loop ^ -->
{% endblock %}