{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 class="review-page-title">Glass Fish Reviews</h1>
<!-- this is a loop through all reviews -->
<div class="">
{% for reviews in reviews_all %}
<a href="{% url 'reviews:reviews-detail' reviews.slug %}">
    <div>
        <div class="reviews-display">
            <h5 class="review-title">{{ reviews.title }}</h5>
            <!-- the "safe" tag prevents the code tags from displaying  -->
            <p class="review-content">{{ reviews.content|truncatechars:100 | safe }}</p>
            <p class="review-author">By- {{ reviews.author }}</p>
        </div>
    </div>
</a>
{% endfor %}
</div>
<button class="btn btn-secondary"><a href="{% url 'main:main' %}">Back!</a></button>
<!-- closing the loop ^ -->
{% endblock %}