{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- rerun through validator when images arfe  sorted -->
<div class="height-controller">
    <div class="form-container">
        <div>
            <img class="card-img-top review-detail-image" src="{{ review.featured_image.url }}" alt="{{ reviews.title }}">        
        </div>
        <div class="review-content">
            <h5 class="review-title capitalize">{{ review.title }}</h5>
            <p class="card-text capitalize">{{ review.content|truncatechars:100 | safe}}</p>
            <p class="card-text capitalize">By {{ review.author }}</p>
        </div>
        {% if user == review.author or user.is_superuser %}
        <div class="admin-buttons">
            <a class="update-button" href="{% url 'reviews:update-review' review.slug %}">Update</a>
            <a class="delete-button" href="{% url 'reviews:delete-review' review.slug %}">Delete</a>
        </div>
        {% endif %}
        <div>
            <a class="back-button" href="{% url 'reviews:review-display' %}">Back!</a>
        </div>
    </div>
</div>
{% endblock %}