{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="card reviews-detail" style="width: 18rem;">
        <div class="card-body">
            <div>
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top" src="#" alt="placeholder image">
                {% else %}
                <img class="card-img-top" src=" {{ reviews.featured_image.url }}" alt="{{ reviews.title }}">
                {% endif %}
                <h5 class="card-title">{{ review.title }}</h5>
                <p class="card-text">{{ review.content|truncatechars:100 | safe}} <br> by {{ review.author }}</p>
            </div>
        </div>
        {% if user == review.author or user.is_superuser %}
        <div>
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'reviews:update-review' review.slug %}">Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'reviews:delete-review' review.slug %}">Delete</a>
            <button class="btn btn-secondary"><a href="{% url 'reviews:ReviewPostDisplay' %}">Back!</a></button>
        </div>
        {% endif %}
    </div>
{% endblock %}