{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="height-controller">
    <h1 class="review-page-title">Glass Fish Reviews</h1>
    <div>
        {% if user.is_authenticated %}
        <div class="review-page-buttons">
            <a class="back-button center" href="{% url 'reviews:create' %}">Create a Review!</a>
        </div>
        {% else %}
        <div>
            <a class="back-button center" href="{% url 'accounts:signup' %}">Join The Site and Post a Review!</a>
        </div>
        {% endif %}
    </div>
    <!-- this is a loop through all reviews -->
    <div class="photos-container">
        {% for reviews in reviews_all %}
        <div class="card-container">
            <div class="card review-card" style="width: 18rem;">
                <div>
                    <div class="review">
                        <div class="review-images">
                        {% if "default" in ReviewPost.featured_image.url %}
                            <img class="card-img-top" src="{{ reviews.featured_image.url }}" alt="placeholder image">
                            {% else %}
                            <img class="card-img-top" src=" {{ reviews.featured_image.url }}" alt="{{ reviews.title }}">
                            {% endif %}
                        </div>
                        <a href="{% url 'reviews:reviews-detail' reviews.slug %}">
                        <div class="card-body">
                            <h5 class="card-title">{{ reviews.title }}</h5>
                            <!-- the "safe" tag prevents the code tags from displaying  -->
                            <p class="card-text">
                                {{ reviews.content|truncatechars:100 | safe }}<br> By- {{ reviews.author }}
                            </p>
                        </div>
                    </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="review-page-buttons">
    <a class="back-button center" href="{% url 'main:main' %}">Back!</a>
</div>
    <!-- closing the loop ^ -->
    {% endblock %}