{% extends 'base.html' %}
{% load cloudinary %}
{% block content %}
<div class="height-controller">
<div class="form-container">
<form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
        <h1 class="delete-title">You are about to permanently delete your account!</h1>
        <p class="delete-content">Are you absolutely positive you want to delete your account?</p>
        {{ form }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-danger" type="submit">Delete!!!</button>
        <a class="back-button" href="{% url 'accounts:user-profile' %}">Cancel</a>
    </div>
</form>
</div>
</div>
{% endblock %}