{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
<div class="profile-display">
  <img class="profile-image" src="{{ user.profile.profile_image.url }}">
  <div class="media-body">
    <h2 class="account-heading">{{ user.username }}</h2>
    <form method="POST" class="uniForm" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group signup">
        <p>Profile Info</p>
        {{ account_form }}
        {{ profile_form }}
      </div>
      <div class="form-group">
        <button class="btn btn-success" type="submit">Update</button>
        <button class="btn btn-secondary"><a href="{% url 'reviews:ReviewPostDisplay' %}">Back</a></button>
        <button class="btn btn-danger"><a href="{% url 'accounts:delete' %}">Delete</a></button>
      </div>
    </form>
  </div>
</div>
{% endblock %}