{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load cloudinary %}
{% block content %}
<div class="height-controller">
<div class="form-container">

  {% if "default" in Profile.profile_image.url %}
  <img class="profile-image" src="{{ user.profile.profile_image.url }}" alt="placeholder image">
  {% else %}
  <img class="profile-image" src="{{ user.profile.profile_image.url }}" alt="Profile picture">
  {% endif %}
  <div class="media-body">
    <h2 class="account-title">{{ user.username }}</h2>
    <form method="POST" class="uniForm" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group">
        {{ account_form }}
        {{ profile_form }}
      </div>
      <div class="profile-btns">
        <button class="update-button" type="submit">Update</button>
        <a class="back-button" href="{% url 'reviews:review-display' %}">Back</a>
        <a class="delete-button" href="{% url 'accounts:delete' %}">Delete</a>
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}