{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Photos for the gallary! -->
<div class="photos-container">
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/albino-fish.jpg" class="card-img-top" alt="Photo of white albino fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/close-blue.jpg" class="card-img-top" alt="Photo of a blue fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/jellyfish-2.jpg" class="card-img-top" alt="Photo of jellyfish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/close-yellow.jpg" class="card-img-top" alt="Photo of a yellow fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/jellyfish-1.jpg" class="card-img-top" alt="Photo of jellyfish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/cute-dolphin.jpg" class="card-img-top" alt="Photo of a dolphin">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/nemo-villian.jpg" class="card-img-top" alt="Photo of a clown fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/turtle-2.jpg" class="card-img-top" alt="Photo of a turtle">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/nemo.jpg" class="card-img-top" alt="Photo of a clown fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/red-school.jpg" class="card-img-top" alt="Photo of a red fish school">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/school-blue.jpg" class="card-img-top" alt="Photo of a blue fish school">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/whale.jpg" class="card-img-top" alt="Photo of a whale">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/in-coral.jpg" class="card-img-top" alt="Photo of fish in coral">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/nemo-home.jpg" class="card-img-top" alt="Photo of a clown fish">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/turtle.jpg" class="card-img-top" alt="Photo of a turtle">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/stingray.jpg" class="card-img-top" alt="Photo of a stingray">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/octopus.jpg" class="card-img-top" alt="Photo of an octopus">
        <div class="card-body">
          <h5 class="card-title">Octopus!</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>



</div>
{% endblock %}