{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Photos for the gallary! -->
<div class="photos-container">
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/albino-fish.jpg" class="card-img-top" alt="Photo of white albino fish">
        <div class="card-body">
            <h5 class="card-title">Albino Cory</h5>
            <p class="card-text">
                Albino cory fish, lacking melanin pigment, are known for their white coloration and pink eyes,
                making them popular in freshwater aquariums for their peaceful scavenging behavior.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/close-blue.jpg" class="card-img-top" alt="Photo of a blue fish">
        <div class="card-body">
            <h5 class="card-title">Blue Discus</h5>
            <p class="card-text">
                The blue discus, prized for its vibrant blue hues and distinctive
                disc-shaped body, is a sought-after species in freshwater aquariums renowned
                for its beauty and captivating presence.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/close-yellow.jpg" class="card-img-top" alt="Photo of a yellow fish">
        <div class="card-body">
            <h5 class="card-title">Banded Cichlid</h5>
            <p class="card-text">
                The Banded cichlid, recognized by its striking bands and vibrant
                colors, is a popular freshwater fish species prized by aquarium
                enthusiasts for its attractive appearance and peaceful temperament.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/jellyfish-1.jpg" class="card-img-top" alt="Photo of jellyfish">
        <div class="card-body">
            <h5 class="card-title">Jelly Fish</h5>
            <p class="card-text">
                Jellyfish, belonging to the phylum Cnidaria, are gelatinous marine
                creatures characterized by their umbrella-shaped bodies and stinging tentacles,
                often found in oceans worldwide.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/cute-dolphin.jpg" class="card-img-top" alt="Photo of a dolphin">
        <div class="card-body">
            <h5 class="card-title">Dolphins</h5>
            <p class="card-text">
                Dolphins, intelligent marine mammals, are renowned for their playfulness, 
                communication abilities, and sleek bodies suited for ocean life.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/nemo-villian.jpg" class="card-img-top" alt="Photo of a clown fish">
        <div class="card-body">
            <h5 class="card-title">Moorish Idol</h5>
            <p class="card-text">
                The Moorish idol, with its striking striped pattern, is a
                 tropical marine fish known for its beauty and presence in coral reefs.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/turtle-2.jpg" class="card-img-top" alt="Photo of a turtle">
        <div class="card-body">
            <h5 class="card-title">Clown Fish</h5>
            <p class="card-text">
                Clownfish, famously depicted in the animated movie "Finding Nemo," are brightly colored fish found in
                tropical coral reefs.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/nemo.jpg" class="card-img-top" alt="Photo of a clown fish">
        <div class="card-body">
            <h5 class="card-title">Clown Fish</h5>
            <p class="card-text"> They are notable for their symbiotic relationship with sea anemones,
                where they seek shelter and protection from predators while providing nutrients to the anemone in
                return.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/school-blue.jpg" class="card-img-top" alt="Photo of a blue fish school">
        <div class="card-body">
            <h5 class="card-title">Sergeant Major</h5>
            <p class="card-text">The Sergeant major fish, with its vibrant yellow body and distinctive black bars,
                 is a common sight in tropical coral reefs, where it plays a crucial role in maintaining reef health as a herbivore.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/whale.jpg" class="card-img-top" alt="Photo of a whale">
        <div class="card-body">
            <h5 class="card-title">Whale Shark</h5>
            <p class="card-text">
                The whale shark, the largest fish globally, is renowned for its gentle nature, distinctive markings,
                 and filter-feeding habits, captivating marine enthusiasts worldwide.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/in-coral.jpg" class="card-img-top" alt="Photo of fish in coral">
        <div class="card-body">
            <h5 class="card-title">
                Amphiprion Akindynos</h5>
            <p class="card-text">
                Amphiprion akindynos, the Barrier Reef clownfish, forms symbiotic bonds with anemones for protection, 
                inhabiting vibrant coral reefs in the Indo-Pacific.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/turtle.jpg" class="card-img-top" alt="Photo of a turtle">
        <div class="card-body">
            <h5 class="card-title">Turtles</h5>
            <p class="card-text">Turtles, ancient reptiles with protective shells, are found in diverse habitats worldwide,
                 contributing to ecosystems as predators and prey.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/stingray.jpg" class="card-img-top" alt="Photo of a stingray">
        <div class="card-body">
            <h5 class="card-title">Sting Rays</h5>
            <p class="card-text">
                Stingrays are flattened marine creatures characterized by their diamond-shaped
                bodies and long, whip-like tails equipped with venomous stingers.</p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="/static/images/project-images/octopus.jpg" class="card-img-top" alt="Photo of an octopus">
        <div class="card-body">
            <h5 class="card-title">Octopus!</h5>
            <p class="card-text">
                Octopuses are highly intelligent cephalopods known for their ability to
                change color and texture for camouflage and communication.</p>
        </div>
    </div>



</div>
{% endblock %}