{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Content for the main homepage -->
<div class="homepage-container">
    <div class="homepage-title">
        <!-- Home page title -->
        <h2>The Glass Fish Aquarium</h2>
    </div>
    <div class="home-content">
        <!-- Home page paragraph talking about the aquarium! -->
        <p>
            Welcome to the mesmerizing world of the Glass Fish Aquarium, where 
            aquatic wonder meets sustainable elegance. Immerse yourself in an 
            unparalleled experience as you explore our state-of-the-art facility 
            showcasing a diverse and vibrant array of fish species. Our commitment 
            to the well-being of our aquatic residents is evident in the spacious, 
            thoughtfully designed tanks that mirror their natural habitats. Witness 
            firsthand the meticulous care our dedicated team provides, ensuring the 
            health and happiness of every finned friend. What sets us apart is our 
            unwavering dedication to sustainability; the Glass Fish Aquarium proudly
             stands as the greenest aquarium on the planet. Join us on a journey of 
             discovery, where education, conservation, and awe-inspiring beauty come 
             together beneath the gleam of our glass walls. Visit us and be captivated
              by the harmonious coexistence of aquatic life in an eco-conscious haven. 
        </p>
    </div>
    <div>
        <!-- Home page fish aquarium video that autoplays with no sound!! -->
        <iframe class="aquarium-video"
            src="https://www.youtube.com/embed/ji1uxrxZagQ?controls=0&autoplay=1&mute=1"></iframe>
    </div>
</div>
{% endblock %}