{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- The main content on the visit page -->
    <div class="visit-content">
        <div class="visit-text">
            <!-- The opening hours -->
            <div>
                <h3 class="visit-title">Opening Hours</h3>
                <p>
                    <span>Monday</span> <time>9:00am - 6:00pm</time><br>
                    <span>Tuesday</span> <time>9:00am - 6:00pm</time><br>
                    <span>Wednesday</span> <time>9:00am - 6:00pm</time><br>
                    <span>Thursday</span> <time>9:00am - 6:00pm</time><br>
                    <span>Friday</span> <time>9:00am - 6:00pm</time><br>
                    <span>Saturday</span> <time>10:00am - 7:00pm</time><br>
                    <span>Sunday</span> <time>10:00am - 7:00pm</time>
                </p>
            </div>
            <!-- The ticket prices -->
            <div class="ticket-price">
                <h3 class="visit-title">Ticket Prices</h3>
                <p>
                    Adult: £20
                    Children: £10
                    Under 3s: Free!
                </p>
            </div>
            <!-- Little visit message reminding visitors to make an account! -->
            <div>
                <h3 class="visit-title">Do not forget!</h3>
                <p>To log in, post your aquariums at home!
                    Along with a review<br> of your experience
                    visiting the Glass Fish Aquarium!</p>
            </div>
        </div>
    </div>
    {% endblock %}